<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="patch" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <br/>
    <label for="address">Enter address: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <br/>
    <br/>
    <label for="phone">Enter phone: </label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <br/>
    <br/>
    <label for="email">Enter e-mail: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <input type="submit" value="Edit!"/>
</form>

</body>
</html>